@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html, body, #root {
  background-color: #161716
;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px; /* thinner scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: black; /* scrollbar background */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* grey thumb */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* slightly lighter on hover */
}